<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1>
                    Ship Tracking Application
                </h1>
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Joel Godden</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="/Scripts/site.js"></script>
    @RenderSection("scripts", required: false)

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .shipping-grid-row {
            display: flex;
        }

        .shipping-grid-col {
            flex: 1;
            margin: 0 1rem;
            border: 1px solid black;
        }

        .shipping-grid-square {
            flex: 1;
            border: 1px solid black;
            height: 100px;
            width: 50px;
            overflow: scroll;
        }

        .square:after {
            content: '';
            display: block;
            padding-bottom: 100%;
        }

        .no-return {
            background-color: lightcoral;
        }

        .loading {
            opacity: 50;
        }
    </style>
</body>
</html>
